{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "browsers": ["iOS >= 7", "Android >= 4.2"],
        "useBuiltIns": false,
        "debug": false
      }
    ]
  ],
  {{#if vant}}
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    [
      "import", {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ]
  {{else}}
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
  {{/if}}
}
