{
  "presets": [
    ["env", {
      "modules": false,
      "browsers": ["iOS >= 7", "Android >= 4.2"],
      "useBuiltIns": false,
      "debug": false
    }]
  ],
  {{#if vant}}
  "plugins": ["transform-object-rest-spread", [
    "import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ],
  {{else}}
  "plugins": ["transform-object-rest-spread"]
  {{/if}}
}
