<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title><%=htmlWebpackPlugin.options.title%></title>
    <script>
      // global shared config
      let __CONFIG__ = {}
      // apiPath
      __CONFIG__.apiPath = '<%=htmlWebpackPlugin.options.apiPath%>'

      // version
      __CONFIG__.appVersion = '<%=htmlWebpackPlugin.options.appVersion%>'

      window.__CONFIG__ = __CONFIG__
    </script>
    <%=htmlWebpackPlugin.files.webpackManifest%>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
